USE [master]
GO
/****** Object:  Database [QLKHO]    Script Date: 7/24/2020 10:56:50 AM ******/
CREATE DATABASE [QLKHO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHO', FILENAME = N'D:\csdl\QLKHO.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKHO_log', FILENAME = N'D:\csdl\QLKHO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHO]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[STK] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[STK] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [int] NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[STK] [int] NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANLOAI]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAI](
	[MALSP] [int] IDENTITY(1,1) NOT NULL,
	[TENLSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANLOAI] PRIMARY KEY CLUSTERED 
(
	[MALSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[TENPN] [nvarchar](50) NULL,
	[MASP] [int] NULL,
	[MANV] [int] NULL,
	[MANCC] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
	[MANN] [date] NULL,
	[MALSP] [int] NULL,
	[NGAYSX] [date] NULL,
	[HANSD] [date] NULL,
 CONSTRAINT [PK_PHIEUNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUATKHO]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATKHO](
	[MAPX] [int] IDENTITY(1,1) NOT NULL,
	[TENPX] [nvarchar](50) NULL,
	[MASP] [int] NULL,
	[MANV] [int] NULL,
	[MAKH] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[NGAYXUAT] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TONG_TIEN] [bigint] NULL,
	[CHIETKHAU] [int] NULL,
	[TONG_THANH_TOAN] [bigint] NULL,
 CONSTRAINT [PK_PHIEUXUATKHO] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUATKHOSANPHAM]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATKHOSANPHAM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idsanpham] [int] NOT NULL,
	[idphieuxuatkho] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[giaban] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 7/24/2020 10:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[MANCC] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIABAN] [int] NOT NULL,
	[NGAYSX] [date] NOT NULL,
	[HANSD] [date] NOT NULL,
	[MALSP] [int] NOT NULL,
	[hinhanh] [nvarchar](max) NULL,
	[MANN] [date] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [STK]) VALUES (1, N'Nguyễn Văn Bình', N'00000000000', N'6, Chanh Nghia, TDM, Binh Duong', N'12345670001200')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [STK]) VALUES (3, N'Dương Khánh My', N'0888190236', N'273, Phú Hòa, Thủ Dầu Một, Bình Dương', N'76376737091156')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [STK]) VALUES (5, N'Trần Văn Tháp', N'0265870123', N'247, Trần Văn Ơn, Phú Hòa, bình Dương', N'21856821090064')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI], [STK]) VALUES (27, N'Công ty Cổ phần Chuỗi Thực phẩm TH', N'0328568305', N'166 Nguyễn Thái Học, thành phố Vinh, Nghệ An', N'28656876001233')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI], [STK]) VALUES (29, N'Công ty TNHH Thương Mại & Dược Phẩm Thành Phát', N'0911559980', N'Văn Giàng, Tân Tiến, Bắc Giang, Việt Nam', N'19032851433015')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [DIACHI], [STK]) VALUES (32, N'Công ty TNHH Thương Mại Đông Anh', N'0901209867', N'số 30, đường 36, Binhg Trị Đông, Bình Tân', N'0853641912')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [CHUCVU], [NGAYSINH], [CMND], [QUEQUAN], [STK], [SDT], [DIACHI], [HinhAnh]) VALUES (1, N'Nguyễn Thùy Như', N'Nữ', N'Nhân viên kho', CAST(N'1990-05-31' AS Date), 285573884, N'Bình Phước', 1237654089, 355816317, N'bù đốp, bình phước', N'anh-the-3x4.jpg')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [CHUCVU], [NGAYSINH], [CMND], [QUEQUAN], [STK], [SDT], [DIACHI], [HinhAnh]) VALUES (2, N'Phan Thủy Tiên', N'Nữ', N'Nhân viên kho', CAST(N'1995-01-02' AS Date), 285574992, N'Bình Dương', 1974792311, 356317816, N'Bến Cát, Bình Dương', N'anh4x6.jpg')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [CHUCVU], [NGAYSINH], [CMND], [QUEQUAN], [STK], [SDT], [DIACHI], [HinhAnh]) VALUES (4, N'Nguyễn Văn An', N'Nam', N'nhân viên kho', CAST(N'1995-06-05' AS Date), 1689568, N'BD', 215789265, 8657893, N'tdm, bd', N'1.jpg')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHANLOAI] ON 

INSERT [dbo].[PHANLOAI] ([MALSP], [TENLSP]) VALUES (1, N'SỮA TRẺ SƠ SINH 1 ==> 3 THÁNG TUỔI')
INSERT [dbo].[PHANLOAI] ([MALSP], [TENLSP]) VALUES (2, N'SỮA TRẺ SƠ SINH 3 ==> 6 THÁNG TUỔI')
INSERT [dbo].[PHANLOAI] ([MALSP], [TENLSP]) VALUES (4, N'Sữa non mama')
SET IDENTITY_INSERT [dbo].[PHANLOAI] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] ON 

INSERT [dbo].[PHIEUNHAPKHO] ([MAPN], [TENPN], [MASP], [MANV], [MANCC], [SOLUONG], [GIANHAP], [MANN], [MALSP], [NGAYSX], [HANSD]) VALUES (16, N'01HLBB', 15, 1, 29, 50, 120000, CAST(N'2020-06-12' AS Date), 11, CAST(N'2020-05-11' AS Date), CAST(N'2022-06-12' AS Date))
INSERT [dbo].[PHIEUNHAPKHO] ([MAPN], [TENPN], [MASP], [MANV], [MANCC], [SOLUONG], [GIANHAP], [MANN], [MALSP], [NGAYSX], [HANSD]) VALUES (17, N'02MM', 14, 4, 32, 100, 100000, CAST(N'2020-06-05' AS Date), 1, CAST(N'2020-01-01' AS Date), CAST(N'2022-01-01' AS Date))
INSERT [dbo].[PHIEUNHAPKHO] ([MAPN], [TENPN], [MASP], [MANV], [MANCC], [SOLUONG], [GIANHAP], [MANN], [MALSP], [NGAYSX], [HANSD]) VALUES (21, N'05PN', 17, 4, 27, 50, 40000, CAST(N'2020-07-09' AS Date), 7, CAST(N'2020-01-07' AS Date), CAST(N'2022-01-09' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] OFF
SET IDENTITY_INSERT [dbo].[PHIEUXUATKHO] ON 

INSERT [dbo].[PHIEUXUATKHO] ([MAPX], [TENPX], [MASP], [MANV], [MAKH], [SOLUONG], [GIABAN], [NGAYXUAT], [DIACHI], [TONG_TIEN], [CHIETKHAU], [TONG_THANH_TOAN]) VALUES (8, N'01PXK', NULL, 1, 3, NULL, NULL, CAST(N'2020-07-14' AS Date), N'326 đại lộ Bình Dương, Thủ Dầu Một, Bình Dương.', 500000, 0, 500000)
INSERT [dbo].[PHIEUXUATKHO] ([MAPX], [TENPX], [MASP], [MANV], [MAKH], [SOLUONG], [GIABAN], [NGAYXUAT], [DIACHI], [TONG_TIEN], [CHIETKHAU], [TONG_THANH_TOAN]) VALUES (17, N'02BD', NULL, 2, 3, NULL, NULL, CAST(N'2020-07-15' AS Date), N'326 đại lộ Bình Dương, Thủ Dầu Một, Bình Dương.', 11500000, 2, 11270000)
SET IDENTITY_INSERT [dbo].[PHIEUXUATKHO] OFF
SET IDENTITY_INSERT [dbo].[PHIEUXUATKHOSANPHAM] ON 

INSERT [dbo].[PHIEUXUATKHOSANPHAM] ([id], [idsanpham], [idphieuxuatkho], [soluong], [giaban]) VALUES (1, 1, 8, 100, 5000)
INSERT [dbo].[PHIEUXUATKHOSANPHAM] ([id], [idsanpham], [idphieuxuatkho], [soluong], [giaban]) VALUES (4, 15, 17, 50, 200000)
INSERT [dbo].[PHIEUXUATKHOSANPHAM] ([id], [idsanpham], [idphieuxuatkho], [soluong], [giaban]) VALUES (5, 1, 17, 10, 150000)
SET IDENTITY_INSERT [dbo].[PHIEUXUATKHOSANPHAM] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANCC], [SOLUONG], [GIABAN], [NGAYSX], [HANSD], [MALSP], [hinhanh], [MANN]) VALUES (1, N'Sữa bột Vinamilk Dielac Alpha 123', 32, 100, 180000, CAST(N'2020-01-01' AS Date), CAST(N'2022-01-01' AS Date), 1, N'dfsdf.jpg', CAST(N'2020-01-01' AS Date))
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANCC], [SOLUONG], [GIABAN], [NGAYSX], [HANSD], [MALSP], [hinhanh], [MANN]) VALUES (14, N'Mama Sữa Non Colos Multi A0 Tăng Đề Kháng', 32, 100, 200000, CAST(N'2020-01-01' AS Date), CAST(N'2022-01-01' AS Date), 4, N'mama-sua-non-colos-multi-a0-tang-de-khang-5eec286a3fb51-19062020095226.jpg', CAST(N'2020-01-13' AS Date))
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANCC], [SOLUONG], [GIABAN], [NGAYSX], [HANSD], [MALSP], [hinhanh], [MANN]) VALUES (15, N'Sữa Bột Hilac Baby', 29, 50, 150000, CAST(N'2020-01-01' AS Date), CAST(N'2022-01-01' AS Date), 1, N'h1.jpg', CAST(N'2020-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPKHO_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHAPKHO_SANPHAM]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATKHO_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] CHECK CONSTRAINT [FK_PHIEUXUATKHO_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATKHO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] CHECK CONSTRAINT [FK_PHIEUXUATKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUATKHO_SANPHAM1] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] CHECK CONSTRAINT [FK_PHIEUXUATKHO_SANPHAM1]
GO
USE [master]
GO
