<style>
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Không có quyền truy cập</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <h3 class="red">
                    Bạn ơi, chỉ được phép vào trang xuất kho, nhập kho, tồn kho vào xem thông tin khách hàng thôi nhé!
                </h3>
                <!-- /.card -->
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- Main Footer -->